<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkZ2Jja2VqbHB3cHFtc2txa21lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcxOTM4OTgsImV4cCI6MjA4Mjc2OTg5OH0.2h4fI9pwv4uNj-XfGzRxpCxuxWlL3QHTZKxkElZlh5c</string>
	<key>SUPABASE_URL</key>
	<string>https://ddgbckejlpwpqmskqkme.supabase.co</string>
</dict>
</plist>
